GEMINI_API_KEY=your_gemini_api_key_here

SD_API_URL=http://127.0.0.1:7861
SD_MODEL=Realistic_Vision_V5.1.safetensors
SD_WIDTH=448
SD_HEIGHT=768
SD_STEPS=18
SD_CFG_SCALE=7
SD_SAMPLER=DPM++ 2M Karras

FORGE_DIR=C:\stable-diffusion-webui-forge
FORGE_BAT=webui-user.bat
FORGE_START_TIMEOUT=600

UPLOAD_DEFAULT=false